rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Users can upload and read their own profile images
    match /profile-images/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Business images can be read by anyone, written by authenticated users
    match /business-images/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Public files can be read by anyone
    match /public/{allPaths=**} {
      allow read: if true;
    }
  }
}